body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 6px;
  height: 6px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 2px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  max-height: 100vh;
}
// mitra
.container-mitra {
  position: relative;
  overflow: hidden;
}
.innerContainer {
  align-items: center;
}

.sliderContainer {
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.slide {
  height: 10rem;
}

// berita
.slider-berita {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23rem;
  max-height: 100vh;
  object-position: center;
}
.title-news {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(165, 166, 172, 0.6);
  backdrop-filter: blur(2.5px);
  border-radius: 0px 0px 12px 12px;
}
